*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Poori screen ko center karne ke liye */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f0c29; 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.login-card {
    width: 350px;
    padding: 40px;
    
    background: rgba(255, 255, 255, 0.1); 
    
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(10px); 

    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
    border-radius: 15px;
    color: white;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.input-group input {
    width: 100%;
    padding: 10px;
    background: transparent; 
    border: none;
    border-bottom: 1px solid white; 
    color: white;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: white;
    color: #302b63;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #ddd;
}